*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #240638;
    color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    width: 400px;
    background-color: aliceblue;
    padding: 20px;
    color: #240638;
    height: auto;
}
.title{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 5px;
    border-radius: 3px;
    align-items: center;
    cursor: pointer;
    margin: 10px 0;
    box-shadow: 0 2px 4px;
}
.text{
    background-color: antiquewhite;
    padding: 4px;
    margin: 3px;
}